<!DOCTYPE html>
<html>

<head>
    <title>Movie Recommender</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <h1>Movie Recommendation System</h1>
    <form method="POST">
        <label for="movie" class="input-label">
            Movie Title:
            <input type="text" id="movie" name="movie" placeholder="Enter a movie title" value="{{ input_title }}" reqguired />
        </label>
        <button type="submit">Recommend</button>
    </form>

    {% if message %}
    <p style="color: red;">{{ message }}</p>
    {% endif %}

    {% if recommendations %}
    <h2>Recommendations:</h2>
    <ul>
        {% for rec in recommendations %}
        <li>{{ rec }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>